@{
    ViewBag.Title = "Home Page";
}

<input id="Accion" name="Accion" type="hidden" value="Crear" />
<input id="ObjectId" name="ObjectId" type="hidden" value="" />
<div id="DivFormPrincipal">
    <div class="row" id="DivFormData">
        <div class="col-md-3">
            <div class="form-group">
                <label for="id">Employee's ID</label>
                <input type="text" id="id"  name="id" class="form-control" maxlength="18"/>
            </div>
        </div>
        <div class="row" id="DivBtnControl" style="padding-top:10px;">
            <div class="col-md-3">
                <div class="form-group">
                    <button id="Btnsearch" type="submit" class="btn btn-primary">Search&nbsp;</button>
                </div>
            </div>
        </div>
    </div>
